* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slider-container {
  padding: 30px 250px;
  position: absolute;
  z-index: 200;

}

.toggle {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  z-index: 9999999;
}



.smoke {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.toggle:hover .smoke {
  transition: opacity 0.5s ease-in-out;
  opacity:0.8;
}



.cup {
  display: flex;
  flex-direction: row;
}

.cup p{
  transition: transform 0.8s;
  padding-left: 10px;
  color: #ECECEC;
  font-size: 20px;
  font-family: 'Walter Turncoat', cursive;

}

.toggle:hover .cup p {
  transform: translate(15px, 0px);
}

.navbar {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.navbar-active {
  transform: translateY(0%);
}

.navbar {
  background-image: url(images/bgblack.jpg);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index:100;
}

.navbartop {
  height: 10%;
}

.navbarfooter {
  height: 25%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.navbarfooter.appear {
  opacity:1;
}

.navbarcontent {
  height: 55%;
  padding: 70px 300px;
  display: flex;
  flex-direction: row;
}

.navbarleft {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navcontainer {
  height: 30%;
  display: flex;
  flex-direction: row;
}

.navline {
  padding-top: 10px;
  width: 60px;
  height: 5px;
  border-bottom: 1px solid #504E4E;
  transition: transform 0.3s;
  transform-origin:left center;
}

.navleftheader {
  padding-left: 50px;
  transition: transform 0.3s;
}

.navno {
  font-family: 'Niconne', cursive;
  color: #BB0000;
  font-size: 20px;
}


.navleftheader a {
  color: #ECECEC;
  font-family: 'Fredericka the Great', cursive;
  font-size: 65px;
  text-decoration: none;
}

.navtext1 {
opacity: 0;
transition: all 1s ease-in-out;
}

.navtext1.appear {
  opacity:1;
}

.navtext2 {
opacity: 0;
transition: all 1s ease-in-out;
}

.navtext2.appear {
  opacity:1;
}

.navtext3 {
opacity: 0;
transition: all 1s ease-in-out;
}

.navtext3.appear {
  opacity:1;
}

.navcontainer:hover .navleftheader{
  transform: translate(30px, 0px);
}

.navcontainer:hover .navline {
  transform: scale(1.8,1)
}

.navbarright {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navcontact {
  display: flex;
  flex-direction: row;
}

.navrightheader {

  width: 50%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
}

.navrightheader.appear{
  opacity:1;
}

.navrightheader a {
  font-family: 'Rufina', serif;
  padding-top: 10px;
  color: #ECECEC;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.3s;
}

.navrightheader a:hover {
  transform: translate(20px, 0px);
}


.navbarfooter {
  position: absolute;
  bottom: 0;
  height: 13%;
  z-index: 60;
  width: 80%;
  margin: 0px 160px;
}

.navbarfooter hr {
  width: 5%;
  color: #504E4E;
  opacity: 0.8;
}



.home {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 50;
  display: flex;
  flex-direction: column;
}

.hometop {
  height: 14%;
}

.homebody {
  height: 64%;
  padding: 0px 100px;
}

.homeleft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.home h1 {
  color: #CD0000;
  opacity: 0.9;
  font-size: 160px;
  font-family: 'UnifrakturMaguntia', cursive;
}

.home h2 {
  text-align: center;
  color: #ECECEC;
  font-size: 25px;
  font-family: 'Buda', cursive;
  opacity: 0.8;
}

footer {
  position: absolute;
  bottom: 0;
  height: 13%;
  z-index: 60;
  width: 80%;
  margin: 0px 160px;
}

footer hr {
  width: 5%;
  color: #504E4E;
  opacity: 0.8;
}

.footerbottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact li {
  float: left;
  font-family: 'Simonetta', cursive;
  font-size: 20px;
  list-style: none;
  display: inline;
  line-height: 60px;
  text-decoration: none;
}
.contact li a{
  padding-right:30px;
  color: #ECECEC;
  opacity: 0.8;
  text-decoration: none;
  transition: color 0.6s;
}

.contact li a:hover {
  color: #FF5151;

}

.bgmusic {
  display: flex;
  flex-direction: row;
}
.bgmusic a{
  color: #ECECEC;
  opacity: 0.8;
  line-height: 60px;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.6s;
}

.bgmusic a:hover{
  color: #FF5151;
}
.bgmusic p {
  color: #ECECEC;
  opacity: 0.8;
  line-height: 60px;
  padding-left: 20px;
  font-size: 20px;
  font-family: 'Simonetta', cursive;
}

.available li {
  color: #ECECEC;
  font-family: 'Simonetta', cursive;
  font-size: 20px;
  list-style: none;
  display: inline;
  line-height: 60px;
  text-decoration: none;
  opacity: 0.8;
}

.available li a{
  color: #ECECEC;
  text-decoration: none;
  transition: color 0.6s;
}

.available li a:hover {
  color: #FF5151;
}

.welcome {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-item: center;
  justify-content: center;
  overflow: hidden;
}
.welcome video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
